---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import DashboardShell from "../components/DashboardShell";
---

<Layout
  title="Dashboard – Taxera Peppol Portal"
  description="Secure dashboard for the Taxera Peppol portal."
>

  <main class="bg-slate-50 min-h-screen flex flex-col">
    <section class="mx-auto pt-6 flex-1 flex flex-col">
      <DashboardShell client:load />
    </section>
  </main>
</Layout>
