---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ProductOverviewSection from "../components/ProductOverviewSection.astro";
import FlowSection from "../components/FlowSection.astro";
import PricingSection from "../components/PricingSection.astro";
import ComplianceSection from "../components/ComplianceSection.astro";
import RegistrationSection from "../components/RegistrationSection.astro";
import FaqSection from "../components/FaqSection.astro";
import CtaSection from "../components/CtaSection.astro";
import SiteFooter from "../components/SiteFooter.astro";

const pageTitle =
	"peppol.taxera.tech – Swiss PEPPOL e‑invoicing for SMEs";
const pageDescription =
	"peppol.taxera.tech by Taxera Technologies GmbH – a lightweight, compliant PEPPOL e‑invoicing portal for Swiss SMEs.";
---

<Layout title={pageTitle} description={pageDescription}>
	<div id="top" class="min-h-screen flex flex-col">
		<SiteHeader />
		<main id="main-content" class="flex-1">
			<HeroSection />
			<ProductOverviewSection />
			<FlowSection />
			<PricingSection />
			<ComplianceSection />
			<RegistrationSection />
			<FaqSection />
			<CtaSection />
		</main>
		<SiteFooter />
	</div>
</Layout>


