---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import FeaturesGrid from "../components/FeaturesGrid.astro";
import HowItWorks from "../components/HowItWorks.astro";
import PricingCards from "../components/PricingCards.astro";
import CallToAction from "../components/CallToAction.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "peppol.taxera.tech – Swiss PEPPOL e‑invoicing for SMEs";
const pageDescription =
	"peppol.taxera.tech by Taxera Technologies GmbH – a lightweight, compliant PEPPOL e‑invoicing portal for Swiss SMEs.";
---

<Layout title={pageTitle} description={pageDescription}>
	<Navigation />

	<main id="main-content">
		<Hero />
		<FeaturesGrid />
		<HowItWorks />
		<PricingCards />
		<CallToAction />
	</main>

	<Footer />
</Layout>
